# Ignore honeypot files
honeypot.db
honeypot.log
honeypot.*-*.log

honeypot/core/geolocation_cache.json

# Ignore .env file
.env

#Ignore Python venv
venv/*

# Ignore Python bytecode files
__pycache__/
*.pyc
